.Site-header
  background-color: #999;
  background-image: url(https://cdn.shopify.com/s/files/1/0019/2443/1932/files/29594662_1356057684494560_3642511867537521213_n.jpg?v=1526093937);
  background-position: 50%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  .header-content
    min-height: 500px;
    min-height: 25vh;
    padding: 20px;
    color: white;
    background-color: rgba(0,0,0,0.8);
    color: #eee;
    padding-bottom: 16rem;

    .header-nav
      margin-right: auto;
      margin-left: auto;
      width: 100%;
      max-width: 64rem;
      display: table;
      color: #eee;

      .header-logo
      .header-menu
        display: table-cell;
        padding: 1rem;
        vertical-align: middle;

    .header-link
      transform: scale(0.9);
      backface-visibility: hidden;
      transition: transform 0.25s ease-in-out;
      text-decoration: none;
      padding: 0.5rem 1rem;
      text-decoration: none;
      color: rgba(255,255,255,0.7);
      display: inline-block;
      border: 1px solid #eee;

      &:hover
        transform: scale(1);

    .header-menu
      .header-menu-wrapper
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;

    .header-logo
      img
        animation: Site-logo-spin infinite 20s linear;
      .header-link
        width: 100%;
        height: 4rem;
        border: none;

@keyframes Site-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
