* {
  box-sizing: border-box !important;
}
img {
  max-height: 100%;
  max-width: 100%;
}
.Site {
  text-align: center;
}
.Site-title {
  font-size: 1.5em;
}
.Site-subtitle {
  font-size: 1.15em;
}
.Site-main {
  font-size: large;
}
